.rating {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.rating li {
  cursor: pointer;
  margin-right: 10px;
  font-size: 24px;
  color: #ffd700;
}

.rating li i.fa-star-o {
  color: #ddd;
}

.rating li.selected i.fa-star-o,
.rating li:hover i.fa-star-o {
  color: #ffbf00;
}