*{
  color: #000000;
}
body{
  min-width: 490px;
  background-color: white !important;
}
.header{
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
}
.container-fluid{
  background-color: #ffffff;
}
.navbar{
  padding: 0  !important;
  box-shadow: 0 7px 7px -5px rgb(0 0 0 / 50%);
}
.navbar-brand{
  padding: 0;
}
.navbar-brand img{
  width: 140px;
}
.nav{
  flex-wrap: nowrap !important;
  flex: 1;
  justify-content: center;
  font-size: 1.2em;
  border-bottom: none;
}
.nav-button{
  display: flex;
}
.nav-link{
  height: 48px;
  border: none !important;
  color: #000000 !important;
} 
.nav-link:hover{
  border: none !important;
  color: #000000 !important;
} 
.active{
  background-color: #ffffff !important;
  border: none !important;
  color: #000000 !important;
}
.nav-T{
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.search{
  font-size: 16px;
  height: 30px;
  width: 124px;
  color: #000000;
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: none!important;
  border: none!important;
  border: 1px solid #327fc3!important;
  background-color: #e5e5e5;
  padding: 0 6px
}
.search:focus{
  outline: none!important;
  border: 2px solid!important;
  border-color: #024cba!important;
  box-shadow: none!important
}
.search::placeholder{
  color: #000000;
}
.form-select{
  font-size: 16px;
  height: 30px;
  width: 124px;
  margin-top: 5px;
  color: #000000;
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: none!important;
  border: none!important;
  border: 1px solid #327fc3!important;
  background-color: #e5e5e5;
  padding: 0 6px;
  box-shadow: none !important;
}
.form-select::placeholder{
  color: #000000 !important;
}
.search,
.form-select{
  height: 35px;
}
.form-select:focus {
  color: #000000;
  background-color: #e5e5e5;
}
.add-t button{
  height: 35px;
  align-items: center;
  border-radius: 0;
  border-radius: 0px;
  padding: 0px 11px;

}
.row{
  display: flex;
  justify-content: center;
}
.users{
  display: grid;
  margin-top: 20px;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill,160px);
  text-align: left;
}
.users a{
  text-decoration: none;
  font-size: 20px;
  color: #000;
  border: 1px solid blue;
  max-width: -moz-fit-content;
  max-width: 150px;
  padding: 4px 8px;
  margin: 5px;
  border-radius: 4px;
  background-color: #e7e7e7;
  white-space: pre;
}