*{
  color: #1c8bcb;
}
body{
  min-width: 490px;
  background-color: #0c1324 !important;
}
.header{
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
}
.container-fluid{
  background-color: #161e32;
}
.navbar{
  padding: 0  !important;
  box-shadow: 0 7px 7px -5px rgb(0 0 0 / 50%);
}
.navbar-brand{
  padding: 0;
}
.navbar-brand img{
  width: 140px;
}
.nav{
  flex-wrap: nowrap !important;
  flex: 1;
  justify-content: center;
  font-size: 1.2em;
  border-bottom: none;
}
.nav-button{
  display: flex;
}
.nav-link{
  height: 48px;
  border: none !important;
  color: #1c8bcb !important;
} 
.nav-link:hover{
  border: none !important;
  color: #00a2ff !important;
} 
.active{
  background-color: #0c1324 !important;
  border: none !important;
  color: #1c8bcb !important;
}
.nav-T{
  max-width: fit-content;
  float: left;
  margin-top: 20px !important;
  margin: 0px 20px;
}
.search{
  font-size: 16px;
  height: 30px;
  width: 124px;
  color: #28abf7;
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: none!important;
  border: none!important;
  border: 1px solid #327fc3!important;
  background-color: #15213f;
  padding: 0 6px
}
.search:focus{
  outline: none!important;
  border: 2px solid!important;
  border-color: #024cba!important;
  box-shadow: none!important
}
.search::placeholder{
  color: #28abf7;
}
.form-select{
  font-size: 16px;
  height: 30px;
  width: 124px;
  margin-top: 5px;
  color: #28abf7;
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: none!important;
  border: none!important;
  border: 1px solid #327fc3!important;
  background-color: #15213f;
  padding: 0 6px;
}
.form-select:focus {
  color: #34a8ec;
  background-color: #15213f
}
.add-t{
  margin-top: 5px;
}
.row{
  display: flex;
  justify-content: center;
}
.users{
  display: grid;
}