.mobile{
    padding-top: 14px;
    box-shadow: 0 7px 7px -5px rgba(0,0,0,.5);
    position: relative;
}
.content-l-p{
    display: flex;
    flex-wrap: nowrap;
}
.mobile img{    
    width: 170px!important;
    margin-left: 20px;
}
.nav{
    display: flex;
    justify-content: center;
}
.navbar{
    padding: 0  !important;
    box-shadow: 0 7px 7px -5px rgb(0 0 0 / 50%);
}
.nav button{
    font-size: 20px;
}
.dropdown{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.dropdown-item a{
    color: #000000;
    text-decoration: none;
}
.nameProfile{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 100%;
    justify-content: flex-end;
    flex: 1;
}
.nameProfile a{
    color: black;
    font-weight: 500;
    padding: 10px;
    float: right;
}
.logoimg{
    flex: 1;
}