*{
    color: #1c8bcb;
}
body{
    background-color: #0c1324!important;
}
.navbar {
    padding: 0 !important;
    box-shadow: 0 7px 7px -5px rgb(0 0 0 / 50%);
}
.container-fluid{
    background-color: #161e32!important;
}
.row {
    margin: 0 !important;
}

.title {
    margin-top: 30px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeryinfo {
    min-width: 410px;
    flex: 1;
    margin-bottom: 20px;
}

.hotelinfo {
    min-width: 300px;
    width: 400px;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}
.featuresWrap{
    display: flex;
    flex-wrap: wrap;
}
.features-item{
    margin: 5px;
}
.btn-check{
    width: 44px;
    height: 44px;
}
.save{
    margin-top: 10px;
    float: right;
}
.comfortLabel{
    width: 44px;
    height: 44px;
    padding: 5px !important;
}
.comfortLabel img{
    width: 32px!important;
    height: 32px!important;
}
.fullInfo{
    padding: 0px;
    border: 1px solid #0d6efd !important;
    flex-shrink: inherit;
    margin: 20px;
}
.nav-item{
    display: flex;
    flex: 1;
    height: 40px;
}
.nav-link{
    border: 1px solid #0d6efd !important;
    border-bottom: 2px solid #0d6efd !important;
    flex: 1;
    padding: 0px !important;
    height: 40px;
    white-space: nowrap;
}
.nav-link, .active{
    border-radius: 0px !important;
    padding: 0px 10px !important;
}
.editTitle, .editPrice{
    color: #28abf7;
    margin: 0px;
    padding: 0px;
    width: 185px;
    height: 30px;
    border-radius: 0px;
    border: none;
    border: 1px solid #327fc3 !important;
    background-color: #15213f;
    padding: 0px 6px;
}
.editDescription{
    color: #28abf7;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: none;
    border: 1px solid #327fc3 !important;
    background-color: #15213f;
    padding: 0px 6px;
    resize: none;
    box-sizing: border-box;
    width: -webkit-fill-available;
}
.editTitle:focus .editDescription:focus, .editPrice:focus{
    border: none;
    outline: none;
    border: 1px solid #0088ff !important;
    background-color: #15213f;
}