body{
    min-width: 490px;
}
.navbar{
    padding: 0  !important;
}
.navbar-brand{
    padding: 0;
}
.nav{
    flex-wrap: nowrap !important;
    flex: 1;
    justify-content: center;
    font-size: 1.2em;
}
.nav-button{
    display: flex;
}

.dropdown-menu a:hover{
    background-color: #c9c9c9;
}


.row-advantages{
    margin: 0 !important;
    margin-top: 50px !important;
}
.Sadvantages{
    text-decoration: none;
    color: black;
}
.Sadvantages::after{
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAxNSAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMkwxMiAxMi41NDU1TDIgMjIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iNCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=) 0 0 no-repeat;

}
.feature-box img{
    width: 65px;
}



.sections{
    margin-top: 10px;
    display: block;
    max-width: 275px;
    float: left;
    position: fixed;
    border: solid 1px #d2d2d2;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 22px;
    text-align: center;
}
.form-select-lg{
    margin: 0px !important;
    margin: 17px 0 !important;
}
option{
    display:flex;
}
.btn-search{
    margin-top: 10px;
}
.row{
    margin-top: 10px;
    margin-left: 285px;
    justify-content: center;
}
toure-card{
    max-width: max-content;
    margin: 10px 0;
}
