body{
    min-width: 490px;
}
.navbar{
    padding: 0  !important;
}
.nav{
    flex-wrap: nowrap !important;
    flex: 1;
    justify-content: center;
}
.nav-button{
    display: flex;
}

.dropdown-menu a:hover{
    background-color: #c9c9c9;
}
