*{
    color: black;
}
.login-content{
    width: 402px;
    border: solid 1px #adadad;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
    padding: 20px;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 6px;
}
.input-group-text, .form-control{
    border-color: #a0a0a0 !important;
    background-color: #ffffff !important;
    color: #000000;
}
.form-control:focus{
    border: 2px solid #0d6efd !important;
}
.form-control::placeholder{
    background-color: #afafaf !important;
    color: #000000;
}
.panelinput img{
    width: 15px !important;
}