*{
    color: #1c8bcb;
}
body{
    background-color: #0c1324 !important;
}
.login-content{
    width: 402px;
    border: solid 1px #0d6efd;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
    padding: 20px;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 6px;
}
.input-group-text, .form-control{
    border-color: #327fc3 !important;
    background-color: #15213f !important;
    color: #1c8bcb;
}
.form-control:focus{
    border: 2px solid #0d6efd !important;
}
.form-control::placeholder{
    background-color: #15213f !important;
    color: #1c8bcb;
}
.form-control:-internal-autofill-fill{
    background-color: #15213f !important;
    color: #1c8bcb !important;
}